*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    font-family: "Poppins", sans-serif;
    
}

a, a:hover{
    text-decoration: none;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: blue;

}
.top-bar span{
    color: #fff;


}
.top-bar ul{
    list-style: none;
    display: flex;
}
.top-bar li{
    margin: 0px 5px;
}
.top-bar a{
    color: #fff;
}
.top-bar a:hover{
    color: #222;
}
nav{
    background: #ffffff;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}


nav a{
    color: #000000;
}
nav a:hover{
    color: blue;

}
.logo {
    flex: 1;
}
.main-section{
    width: 1000px;
    float: left;
    padding: 50px 0px 40px 0px;
}
.heading{
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid #0f58c6;
    color: #0f58c6;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.logo a:hover {
    color: #fff;
}
.logo img{
    width: 90px;
    margin-right: 10px;
    border-radius: 30px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
}
.toggle{
    font-size: 30px;
    display: none;
}
.slider img{
    width: 100%;
} 
.event{
    width: 31%;
    float: left;
    margin-right: 1%;
}
.event div{
    padding: 10px;
    background-color: #0400ff;
    color: white;
}
.event ul li{
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
.about-us img{
    width: 180px;
    float: left;
    border-radius: 60px;
}
.about-us div{
    width: 70%;
    margin-left: 20px;
    float: left;
    line-height: 35px;
}
.gallery img{
    width: 300px;
    height: 250px;
}
.footer{

    background-color: #7a4ed9;
    color: white;
    padding: 70px 0px;
    width: 100%;
    float: left;
}
.footer-sect{

    width: 33%;
    float: left;
}
.footer-sect h2{
    color: #fff;
}
.footer-sect p{
    color: #fff;
    line-height: 22px;
    padding: 0px 30px 20px 0px;
}

.footer-menu li{
    width: 50%;
    float: left;
    margin-bottom: 10px;
    color: #000000;
}
.footer-menu li a{
    columns: #020202;
    text-decoration: none;
}
.footer-contact li{
    margin-bottom: 15px;
    list-style: none;
    color: #ffffff;
}


